<ion-header class="shadow-none" [translucent]="true">
  <ion-toolbar color="morado">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="text-capitalize">{{ titulo }}</ion-title>
    <ion-buttons slot="end">
      @if(titulo === 'folders') {
      <ion-button [routerLink]="['/papelera']">
        <i slot="icon-only" class="bi bi-trash"></i>
      </ion-button>
      }
      <!-- <ion-button>
        <ion-icon
          slot="icon-only"
          name="ellipsis-horizontal-outline"
        ></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
