<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="container" color="light">
    <div class="row">
      <div class="col-8">
        <ion-title>
          <h1 class="m-0">{{ title() }}</h1>
          @if (size()) {
            <p class="m-0 lead text-muted">
              <span>{{ size() }}</span> notas
            </p>
          } @else {
            <p class="m-0 lead text-muted">
              <span class="text-morado fw-bold">Wilson's</span> area de trabajo
            </p>
          }
        </ion-title>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <ion-avatar>
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
