<app-header title="ajustes" [size]="0" />

<ion-content [fullscreen]="true" color="light" class="ion-padding">
  <div class="container">
    <div class="row mt-3">
      <div class="col-10">
        <app-boton-salir />
      </div>
      <div class="col-2">
        <ion-button shape="round" color="morado-100">
          <i slot="icon-only" class="fi fi-rr-align-left d-flex"></i>
        </ion-button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <ion-item
          color="alert-simple-dark"
          detail
          lines="none"
          class="rounded-4 mb-3 bg-item"
        >
          <span slot="start" class="bg-morado p-3 m-2 rounded-5 text-light">
            <i class="fi fi-rr-user"></i>
          </span>
          <ion-label>
            <h3 class="fw-bold fs-6">Cuenta</h3>
          </ion-label>
        </ion-item>
        <ion-item
          color="alert-simple-dark"
          detail
          lines="none"
          class="rounded-4 mb-3 bg-item"
        >
          <span slot="start" class="bg-morado p-3 m-2 rounded-5 text-light">
            <i class="fi fi-rr-star"></i>
          </span>
          <ion-label>
            <h3 class="fw-bold fs-6">Favoritos</h3>
            <p class="text-muted"><span>7</span> Notas</p>
          </ion-label>
        </ion-item>
        <ion-item
          color="alert-simple-dark"
          detail
          lines="none"
          class="rounded-4 mb-3 bg-item"
        >
          <span slot="start" class="bg-morado p-3 m-2 rounded-5 text-light">
            <i class="fi fi-rr-trash"></i>
          </span>
          <ion-label>
            <h3 class="fw-bold fs-6">Papelera</h3>
            <p class="text-muted"><span>7</span> Notas</p>
          </ion-label>
        </ion-item>
        <ion-item
          color="alert-simple-dark"
          detail
          lines="none"
          class="rounded-4 mb-3 bg-item"
        >
          <span slot="start" class="bg-morado p-3 m-2 rounded-5 text-light">
            <i class="fi fi-rr-fill"></i>
          </span>
          <ion-label>
            <h3 class="fw-bold fs-6">Apariencia</h3>
          </ion-label>
        </ion-item>
        <ion-item
          color="alert-simple-dark"
          detail
          lines="none"
          class="rounded-4 mb-3 bg-item"
        >
          <span slot="start" class="bg-morado p-3 m-2 rounded-5 text-light">
            <i class="fi fi-rr-settings-sliders"></i>
          </span>
          <ion-label>
            <h3 class="fw-bold fs-6">General</h3>
          </ion-label>
        </ion-item>
        <ion-item
          color="alert-simple-dark"
          detail
          lines="none"
          class="rounded-4 mb-3 bg-item"
        >
          <span slot="start" class="bg-morado p-3 m-2 rounded-5 text-light">
            <i class="fi fi-rr-info"></i>
          </span>
          <ion-label>
            <h3 class="fw-bold fs-6">Acerca de</h3>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>

<app-tabs />
