<app-header title="mis notas" [notas]="notas()" />

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <div class="container">
    <div class="row mt-3">
      <div class="col-10">
        <app-searchbar />
      </div>
      <div class="col-2">
        <ion-button class="shadow-none" shape="round" color="morado-100">
          <i slot="icon-only" class="bi bi-menu-app-fill"></i>
        </ion-button>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-10">
        <ion-button color="alert-danger" class="shadow-none" id="open-modal">
          <i class="bi bi-folder-fill px-2"></i>
          {{ folderSeleccionado()?.label }}
        </ion-button>
      </div>
      <div class="col-2">
        <ion-button class="shadow-none" shape="round" color="morado-100">
          <i slot="icon-only" class="bi bi-sort-down"></i>
        </ion-button>
      </div>
    </div>

    @if(notas().length > 0) {
    <app-list-notes [notas]="notas()" />
    } @else {
    <!-- <app-no-notes
      text="No tienes notas, para agregar una nueva nota presiona el boton con el icono de + que esta en la parte inferior, automaticamente se creara tu nota la cual podras editar al instante."
      icon="comment"
    /> -->
    }
  </div>

  <ion-modal
    #modal
    trigger="open-modal"
    [initialBreakpoint]="0.35"
    [breakpoints]="[0, 0.30, 0.5, 0.75]"
  >
    <ng-template>
      <ion-list class="p-3">
        @for(folder of folders(); track folder.id) {
        <ion-item
          (click)="seleccionarFolder(folder)"
          color="{{ folder.active ? 'morado': '' }}"
          [ngClass]="{ 'rounded-3': folder.active  }"
        >
          <i
            slot="start"
            class="bi bi-folder{{ folder.active ? '-check' : '' }}"
            [ngClass]="{ 'text-light': folder.active  }"
          ></i>
          <ion-label>
            <h2
              class="text-capitalize"
              [ngClass]="{ 'text-light': folder.active  }"
            >
              {{folder.label}}
            </h2>
          </ion-label>
          <p slot="end" [ngClass]="{ 'text-light': folder.active  }">
            {{ folder.notes.length }}
          </p>
        </ion-item>
        }
        <ion-item (click)="closeModal()" detail>
          <i slot="start" class="bi bi-folder-plus"></i>
          <ion-label>
            <h2>Agregar folder</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-modal>
</ion-content>

<app-tabs />
