<app-header title="mis notas" [size]="notas().length" />

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <div class="container">
    <div class="row mt-3">
      <div class="col-10">
        <ion-searchbar
          class="barlow-regular ion-no-padding"
          placeholder="Buscar aqui ..."
        ></ion-searchbar>
      </div>
      <div class="col-2">
        <ion-button class="shadow-none" shape="round" color="morado-100">
          <i slot="icon-only" class="fi fi-rr-align-left d-flex"></i>
        </ion-button>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-10">
        <ion-button color="alert-danger" class="shadow-none" id="open-modal">
          <i class="bi bi-folder px-2"></i>
          All
        </ion-button>
      </div>
      <div class="col-2">
        <ion-button class="shadow-none" shape="round" color="morado-100">
          <i slot="icon-only" class="fi fi-rr-sort-amount-down-alt d-flex"></i>
        </ion-button>
      </div>
    </div>

    @if(notas().length > 0) {
    <app-list-notes [notas]="notas()" />
    } @else {
    <app-no-notes
      text="No tienes notas, para agregar una nueva nota presiona el boton con el icono de + que esta en la parte inferior, automaticamente se creara tu nota la cual podras editar al instante."
      icon="comment"
    />
    }
  </div>

  <ion-modal
    #modal
    trigger="open-modal"
    [initialBreakpoint]="0.30"
    [breakpoints]="[0, 0.30, 0.5, 0.75]"
  >
    <ng-template>
      <ion-list class="p-3">
        <ion-item>
          <i slot="start" class="bi bi-folder"></i>
          <ion-label>
            <h2>All</h2>
            <p>7</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <i slot="start" class="bi bi-folder"></i>
          <ion-label>
            <h2>Work</h2>
            <p>0</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <i slot="start" class="bi bi-folder"></i>
          <ion-label>
            <h2>Personal</h2>
            <p>0</p>
          </ion-label>
        </ion-item>
        <ion-item (click)="closeModal()" detail>
          <i slot="start" class="bi bi-folder-plus text-morado"></i>
          <ion-label class="text-morado">
            <h2>Agregar folder</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-modal>
</ion-content>

<app-tabs />
