    $dark: #25292e;
    $dimmed: #6a737d;
    $texto: #e1e4e8;
    $rojo: #f97583;
    $naranja: #ffab70;
    $amarillo: #ffea7f;
    $verde: #85e89d;
    $azul: #79b8ff;
    $azul-claro: #9ecbff;
    $pulpura: #b392f0;
    $rosado: #f692ce;
}