<ion-header [translucent]="false" class="ion-no-border" mode="md">
  <ion-toolbar color="morado">
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ selected ? "Editar" : "Crear" }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="refresh" [ngClass]="{ 'd-none': !estaGuardando }">
        <i slot="icon-only" class="fi fi-rr-refresh d-flex text-muted"></i>
      </ion-button>
      @if(nota.papelera) {
      <ion-chip color="light" (click)="restaurar()">Restaurar</ion-chip>
      }
      <ion-button (click)="abrirMenu($event)">
        <ion-icon
          slot="icon-only"
          name="ellipsis-horizontal-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <!-- Fecha de creacion de la nota -->
  <ion-item lines="none" color="light">
    <ion-label class="text-muted">{{
      nota.creado | date : "medium"
    }}</ion-label>
  </ion-item>
  <!-- // fin -->
  <!-- Titulo  -->
  <ion-item lines="none" color="light">
    <ion-input
      name="titulo"
      (keyup)="actualizarNota($event)"
      placeholder="Sin titulo"
      class="titulo"
      [(ngModel)]="nota.titulo"
    ></ion-input>
  </ion-item>
  <!-- // Fin -->
  <!-- Categoria -->
  <div class="categoria my-4 px-3">
    <!--   <div class="badge text-muted">
      <i class="fi fi-rr-folder"></i>
      All
    </div> -->
    <ion-button color="alert-danger">
      <!--      <i class="fi fi-rr-folder px-2"></i>
      All -->
      <i class="fi fi-rr-folder px-2"></i>
      <ion-select
        [interfaceOptions]="customAlertOptions"
        interface="alert"
        aria-label="fruit"
        value="all"
        mode="ios"
      >
        <ion-select-option value="all">All</ion-select-option>
        <ion-select-option value="work">Work</ion-select-option>
        <ion-select-option value="personal">Personal</ion-select-option>
      </ion-select>
    </ion-button>
  </div>
  <!-- // Fin -->

  <!-- Contenido -->
  <ion-item lines="none" color="light">
    <ion-textarea
      name="contenido"
      (keyup)="actualizarNota($event)"
      class="contenido"
      placeholder="Empieza a escribir aqui"
      [(ngModel)]="nota.contenido"
    ></ion-textarea>
  </ion-item>
  <!-- // Fin -->
</ion-content>
