ion-footer {
  ion-toolbar.tabs {
    height: 60px;
    width: 55%;
    border-radius: 500px;
    margin: 0 auto;
    display: flex;

    ion-buttons {
      display: flex;
      justify-content: space-around !important;

      ion-button {
        color: var(--ion-color-morado-100);
        &.bg-rosado {
          color: var(--ion-color-light);
          background-color: var(--ion-color-morado-50) !important;
          border-radius: 50%;
        }
        .icofont-1x {
          font-size: 1rem;
        }
      }
    }
  }
}
