<ion-list color="morado">
  <ion-item detail lines="none">
    <i slot="start" class="fi fi-rr-thumbtack d-flex text-muted"></i>
    <ion-label class="text-muted">Anclar</ion-label>
  </ion-item>
  <ion-item lines="none">
    <i slot="start" class="fi fi-rr-lock d-flex text-muted"></i>
    <ion-label class="text-muted">Bloquear</ion-label>
    <!-- Checker bloquear -->
    <app-checked-bloquear slot="end" />
  </ion-item>
  <ion-item detail lines="none">
    <i slot="start" class="fi fi-rr-redo d-flex text-muted"></i>
    <ion-label class="text-muted">Compartir</ion-label>
  </ion-item>
  <ion-item detail lines="none">
    <i slot="start" class="fi fi-rr-fill d-flex text-muted"></i>
    <ion-label class="text-muted">Tema</ion-label>
  </ion-item>
  <ion-item detail lines="none">
    <i slot="start" class="fi fi-rr-bell d-flex text-muted"></i>
    <ion-label class="text-muted">Recordatorio</ion-label>
  </ion-item>
  <ion-item detail lines="none">
    <i slot="start" class="fi fi-rr-star d-flex text-muted"></i>
    <ion-label class="text-muted">Favorito</ion-label>
  </ion-item>
  <ion-item detail lines="none" (click)="eliminarNota()">
    <i slot="start" class="fi fi-rr-trash d-flex rojo"></i>
    <ion-label class="rojo">{{
      notaEnPapelera() ? "Eliminar" : "Papelera"
    }}</ion-label>
  </ion-item>
</ion-list>
