@use "theme/_colors.scss" as color;
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

body,
h1,
h2,
h3,
h4,
h5,
p,
small,
span,
ion-title,
ion-label,
strong {
	font-family: "Barlow", sans-serif !important;
	font-weight: 400;
	font-style: normal;
}

.text-morado {
	color: color.$pulpura;
}
.bg-morado {
	background-color: color.$pulpura;
}
.barlow-regular {
	font-family: "Barlow", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.barlow-bold {
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.barlow-black {
	font-family: "Barlow", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.searchbar-input.sc-ion-searchbar-md {
	border-radius: 10px !important;
	// border-color: none;
	// background-color: rgb(155 134 189 / 26%);
	background-color: rgb(226 187 233 / 35%);
	box-shadow: none;
}

i {
	display: flex;
	font-size: 1.3rem;
}

/**
 	Note card
 */

.card {
	border: none;
	border-radius: 20px;
	background-color: #7776b3cc;
	color: var(--ion-color-light);

	.card-title {
		margin-top: 0;
		font-weight: 700;
	}
}

/**
 * Inpu
 */
.has-focus.sc-ion-textarea-md-h textarea.sc-ion-textarea-md,
.has-focus.sc-ion-input-md-h input.sc-ion-input-md {
	caret-color: var(--ion-color-morado-100);
}

/**
 * Textarea
 */
textarea {
	height: 400px !important;
}

/**
 * Toas
 */
.toast-wrapper {
}
